<h1></h1>

<table>


<% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.user.name, song.user %></td>
    <td><%= link_to song.name, song %></td>
    <br>
    <td>
        <audio controls>
            <source src=<%= song.song_file.url %> type="audio/mpeg">
        </audio>
    </td>

    <td><%= image_tag song.song_image.thumb.url %></td>
  </tr>
<% end %>
</table>

<br />


